.container {
  padding-top: rem(40px);
  padding-bottom: rem(40px);
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

.title {
  margin-bottom: rem(40px);
}

.image {
    margin-bottom: rem(24px);
}
.weddingDate {
  margin-top: rem(4px);
  margin-bottom: rem(16px);
}
