.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
  width: 100%;
  padding: 16px;

  &:hover {
    background-color: var(--mantine-color-green-0);
  }

  &:active {
    background-color: var(--mantine-color-green-0);
    box-shadow: var(--mantine-shadow-xs);
    transform: translateY(calc(0.0625rem * var(--mantine-scale)))
  }
}
