.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
  width: 100%;
  padding: 16px;

  &:hover {
    background-color: var(--mantine-color-green-0);
  }

  &:active {
    background-color: var(--mantine-color-green-0);
  }
}
