.playerContainer {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background-color: var(--mantine-color-green-0);
    border-radius: 8px;
    overflow: hidden;
}

.play {
    height: 54px;
    width: 54px;
    border-radius: 100%;
    transition: border-radius 0.30s ease-in, height 0.15s ease-in;
}

.pause {
    height: calc(54px * 2);
    width: 54px;
    transition: border-radius 0.2s ease-out, height 0.30s ease-out;
}

.waveformContainer {
    height: 54px;
    width: 54px;
    display: flex;
    justify-content: center;
    padding-left: 3px;
    align-items: center;
}